:root {
    --primary-color: #EE9B01;
    /* Основной цвет */
    --primary-color-dark: #DA6A00;
    --secondary-color: #68904D;
    /* Дополнительный цвет */
    --secondary-color-dark: #14471E;
    /* Дополнительный цвет */
    --background-color: #C8D2D150;
    /* Цвет фона */
    --text-color: #333333;
    /* Цвет текста */
}

body {
    color: var(--text-color);
    font-family: Arial, sans-serif;
}

.card {
    margin: 8px;
    background-color: var(--background-color);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-body {
    padding: 16px;
}

.card-title {
    color: var(--secondary-color-dark);
}

.card-text {
    margin: 0 0 16px 0;
    color: var(--text-color);
    line-height: 1.4;
}

.btn {
    padding: 10px;
    background-color: var(--secondary-color);
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

.btn:hover {
    background-color: var(--secondary-color-dark);
}

.card-btn {
    background-color: var(--primary-color);
}

.card-btn:hover {
    background-color: var(--primary-color-dark);
}

.form-check-input:checked {
    background-color: var(--primary-color-dark);
    border: 0;
}

.form-control:focus,
.form-control:focus-visible,
.form-select:focus,
.form-select:focus-visible,
.form-check-input:focus,
.form-check-input:focus-visible {
    border: none;
    box-shadow: 0 0 0 .25rem #EE9B0140;
}

.form-control:autofill,
.form-select:autofill,
.form-check-input:autofill {
    -webkit-box-shadow: 0 0 0px 40rem #C8D2D1 inset;
}

.account-icon {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-color-dark);
}